body{
    background-color: gray;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
    
}
div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: italic;
    color: white;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-style: italic;
    color: white;    

}
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;

}